doctype html
html(lang="ja")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title 404 Not Found
  body
  div やあ （´・ω・｀）
  p ようこそ、バーボンハウスへ。
p このテキーラはサービスだから、まず飲んで落ち着いて欲しい。

p うん、「また」なんだ。済まない。
p 仏の顔もって言うしね、謝って許してもらおうとも思っていない。

p でも、このページを見たとき、君は、きっと言葉では言い表せない
p 「ときめき」みたいなものを感じてくれたと思う。
p 殺伐とした世の中で、そういう気持ちを忘れないで欲しい
p そう思って、この鯖を立てたんだ。
p じゃあ、注文を聞こうか。
